<footer>
    <h5 style="margin-left: 1rem;">Find me on</h5>
    <div class="social-media-icons">
      <a href="https://linkedin.com/in/hemanthkumar001" target="_blank"><img class="social-media-img" src="linkdin.webp" alt="LinkedIn"></a>
      <a href="https://github.com/Iamhemanth001" target="_blank"><img class="social-media-img" src="github.jpg" alt="GitHub"></a>
      <a href="https://www.instagram.com/ar_yatna/?" target="_blank"><img class="social-media-img" src="insta.png" alt="Instagram"></a>
      <a href="https://www.facebook.com/profile.php?id=61556554164929&mibextid=ZbWKwL" target="_blank"><img class="social-media-img" src="facebook.jpeg" alt="Facebook"></a>
    </div>
    <div>
      <h6 class="card-title d-flex justify-content-center copy-heading" style="cursor: pointer; margin: auto;">&copy; Hemanth2024. All rights reserved.</h6>
    </div>
  </footer>
  