<nav class="navbar navbar-dark" style="height: 7vh;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home"><b style="color: #67ffff; margin-left: 1rem">H</b><b>EMANTH</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header" style="background-color: black;">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body" style="background-color: black;padding: 0;">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item" style="box-shadow: none;">
              <img id="pimg" src="pimg.jpg" alt="...">
            </li>
            <li style="box-shadow: none;">
              <h5>Hemanth Kumar</h5>
            </li>
            <li class="nav-item">
              <a href="#home"><span class="material-symbols-outlined" style=" font-size: 2rem; margin-top: 12px;">home</span></a><a href="#home" class="nav-link active nav-li-a" aria-current="page">Home &nbsp;&nbsp;</a>
            </li>
            <li class="nav-item">
              <a href="#about"><span class="material-symbols-outlined" style=" font-size: 2rem; margin-top: 12px;">person</span></a><a href="#about" class="nav-link nav-li-a">About &nbsp;&nbsp;</a>
            </li>
            <li class="nav-item">
              <a href="HemantKumar.pdf" target="_blank"><span class="material-symbols-outlined" style=" font-size: 2rem; margin-top: 12px;">description</span></a><a href="HemantKumar.pdf" target="_blank" class="nav-li-a" style="text-decoration: none;display: block;padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);">Resume</a>
            </li>
            <li class="nav-item">
              <a href="#project"><span class="material-symbols-outlined" style=" font-size: 2rem; margin-top: 12px;">public</span></a><a href="#project" class="nav-link nav-li-a">Projects</a>
            </li>
            <li class="nav-item">
              <a href="#services"><span class="material-symbols-outlined" style=" font-size: 2rem; margin-top: 12px;">settings</span></a><a href="#services" class="nav-link nav-li-a">Services</a>
            </li>
            <li class="nav-item">
              <a href="#contact"><span class="material-symbols-outlined" style=" font-size: 2rem; margin-top: 12px;">mail</span></a><a href="#contact" class="nav-link nav-li-a">Contact</a>
            </li>
          </ul>
      </div>
    </div>
  </div>
</nav>
