<%- include("./partials/head.ejs") %>
<body class="sr">
    <%- include("./partials/nav.ejs") %>
       <div class="container container1" id="home">
            <div class="box-1" data-aos="fade-right">
                Hi, I'm <span style="color: #67ffff;">Hemanth Kumar</span>
                <div>a passionate<br><span id="element" style="color: #67ffff;"></span></div>
                <div class="social-media">
                  <a href="https://linkedin.com/in/hemanthkumar001" target="_blank"><div><img class="social-media-img" src="linkdin.webp" alt="linkdin"></div></a>
                  <a href="https://github.com/Iamhemanth001" target="_blank"><div><img class="social-media-img" src="github.jpg" alt="github"></div></a>
                  <a href="https://www.instagram.com/ar_yatna/?" target="_blank"><div><img class="social-media-img" src="insta.png" alt="instagram"></div></a>
                  <a href="https://www.facebook.com/profile.php?id=61556554164929&mibextid=ZbWKwL" target="_blank"><div><img class="social-media-img" src="facebook.jpeg" alt="facebook"></div></a>
                </div>
                <!-- <a href="HemantKumar.pdf" target="_blank"></a> -->
                <button class="bttn" onclick="downloadPDF()">Download Resume</button>
            </div>
            <div class="box-2">
                <img class="home_img" src="hemant_profile.jpg" alt="img">
            </div>
        </div>
        <hr id="about">

        <div class="heading">
            <h1>About Me</h1>
        </div>

        <div class="container container2">
          <div class="skill-box">
              <div style="display: flex;">
                  <img src="pimg.jpg" alt="..."><br>
                  <div class="info">
                    <span>Name : Hemanth Kumar</span><br>
                    <span>Job Role : MERN Developer</span><br>
                    <span>Experience : 6 Months</span><br>
                    <span>Address : Agra, India</span><br>
                  </div>
              </div>

              <h2>Skills</h2>

              <h6>MongoDB (Intermediate)</h6>
              <div class="progress" role="progressbar"  aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="background-color: #292929;">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 80%"></div>
              </div>

              <h6>Express.js (Intermediate)</h6>
              <div class="progress" role="progressbar"  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="background-color: #292929;">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 90%"></div>
              </div>

              <h6>Node.js (Intermediate)</h6>
              <div class="progress" role="progressbar"  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="background-color: #292929;">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 85%"></div>
              </div>

              <h6>SQL (Advance)</h6>
              <div class="progress" role="progressbar"  aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="background-color: #292929;">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 95%"></div>
              </div>

              <h6>Python (Advance)</h6>
              <div class="progress" role="progressbar"  aria-valuenow="92" aria-valuemin="0" aria-valuemax="100" style="background-color: #292929;">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 92%"></div>
              </div>

              <h6>C (Advance)</h6>
              <div class="progress" role="progressbar"  aria-valuenow="91" aria-valuemin="0" aria-valuemax="100" style="background-color: #292929;">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 91%"></div>
              </div>
              
              <h6>JavaScript (Advance)</h6>
              <div class="progress" role="progressbar"  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="background-color: #292929;">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 90%"></div>
              </div>

              <h6>CSS (Advance)</h6>
              <div class="progress" role="progressbar"  aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="background-color: #292929;">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 95%"></div>
              </div>
              <h6>Html (Advance)</h6>
              <div class="progress" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="background-color: #292929;">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 100%"></div>
              </div>
              


            <div>

            </div>
          </div>

          <div class="profile-box">
            <div class="profile-para">
              With a solid foundation in MERN development, I've crafted dynamic and user-centric applications, from responsive front-end designs to robust back-end solutions. I thrive on challenges and constantly seek ways to elevate user interactions and functionality.Excited about the future, I'm gearing up to delve into the realms of Artificial Intelligence (AI) and Machine Learning (ML). I aim to leverage these transformative technologies to innovate, automate processes, and unlock new insights for impactful digital solutions.
            </div>

            <div>
              <div class="profile-head"><b>Profile : </b><span class="profile-text"> ❖ MERN Developer</span></div>

              <div class="profile-head"><b>Education : </b><span class="profile-text">❖ Computer Engineering (Specialization in AI and ML) from Lovely Professional University, Punjab CGPA: 9.0| (April ‘13) <br>
              ❖ XII (CBSE) from Simpkins School, Agra 92% | 2023 <br>
              ❖ X (TSBSE) from St. Patrick’s High School, Hyderabad 92% | 2021 </span></div> 
            </div>

              <div class="profile-head"><b>Domain : </b><span class="profile-text"> ❖ MERN (MongoDB, Express.js, React, Node.js) stack development, Artificial Intelligence (AI), and Machine Learning (ML) </span></div>

              <div class="profile-head"><b>Professional Background : </b><span class="profile-text"> ❖ Currently I am pursuing a Bachelor's degree in Computer Science (Specialization in AI-ML) from Lovely Professional University</span></div>
        </div>
      </div>
        <hr>
        <div class="heading" >
            <span>What i have done so for</span>
            <h1>Work Experience</h1>
        </div>

        <div class="container container3">

                  <div class="card project-box"> 
                    <img src="bharatIntern.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Full-Stack developer</h5>
                      <p class="card-text">During my virtual internship at BharatIntern in full-stack web development (MERN), I had the opportunity to work on two impactful projects. One project involved creating a dynamic Blogging website, where users could register, login, and publish their blogs, enhancing their online presence. The second project focused on developing a Registration form integrated with OTP hashing techniques for secure user authentication, ensuring data privacy and security. These experiences not only strengthened my skills in MERN stack technologies but also provided hands-on experience in implementing robust security measures in web applications.</p>
                    </div>
                  </div>
                  
                  <div class="card project-box">
                    <img src="codersCave.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Full-Stack developer</h5>
                    <p class="card-text">During my virtual internship at CodersCave in full-stack web development (MERN), I completed two projects that showcased my skills and creativity. One project involved designing and developing a dynamic Portfolio website, highlighting my proficiency in HTML, CSS, JavaScript, Node.js, MongoDB, and Express.js. The second project was a Weather Application, demonstrating my ability to integrate APIs, manage data, and create interactive user experiences. These experiences not only enhanced my technical capabilities but also reinforced my passion for delivering innovative solutions in web development.</p>
                  </div>
                </div>
            </div>

        <hr id="project">

        <div class="heading" >
            <span>My Projects</span>
            <h1>Projects</h1>
        </div>

        <div class="container container3">
            <div class="card project-box">
              <div style="padding: 13px 67px;">
                <img src="Registration_form.jpg" class="card-img-top project-img" alt="...">
              </div>
                  <div class="card-body">
                    <h5 class="card-title">Registration Form</h5>
                    <p class="card-text">The Registration Form project is a web application built using Node.js, Express.js, MongoDB, EJS, CSS, and JavaScript.It allows users to register for an account by providing their details such as username,email address, and password.The project includes features like form validation to ensure data accuracy,password hashing for security, and MongoDB integration for storing user information.The project also includes user-friendly interface for a seamless registration experience.</p>
                    <a href="https://registration-form-af4u.onrender.com/register" target="_blank" class="btn bttn" style="border-color: #67ffff;">Visit Website</a>
                    <a href="https://github.com/Iamhemanth001/Registration_form" target="_blank" class="btn bttn" style="border-color: #67ffff;">Visit Github</a>
                  </div>
            </div>

            <div class="card project-box">
              <div style="padding: 13px 67px;">
                <img src="Blog.jpg" class="card-img-top project-img" alt="...">
              </div>
                <div class="card-body">
                  <h5 class="card-title">Blogging Website</h5>
                  <p class="card-text">Blogify is a full-stack blogging website built with Node.js, Express.js, and MongoDB. It enables users to register, log in, and create, edit, or delete their blogs. Features include a personalized dashboard, rich text editor for blog creation, comment moderation, and responsive design. Technologies used include Passport.js for authentication, bcrypt for password hashing, and nodemailer for email verification. The project is deployed on Render, and contributions are welcome under the MIT License.</p>
                  <a href="https://bloggify-z7sk.onrender.com/" target="_blank" class="btn bttn" style="border-color: #67ffff;">Visit Website</a>
                  <a href="https://github.com/Iamhemanth001/Bloggify" target="_blank" class="btn bttn" style="border-color: #67ffff;">Visit Github</a>
                </div>
            </div>

            <div class="card project-box">
              <div style="padding: 13px 67px;">
                <img src="weather.png" class="card-img-top project-img" alt="...">
              </div>
                <div class="card-body">
                  <h5 class="card-title">Weather Application</h5>
                  <p class="card-text">Weather application, offers real-time weather updates with location-based forecasts, user-friendly interface, MongoDB integration for data storage, Express.js for backend logic, React for dynamic front-end, and Node.js for server-side operations, ensuring a seamless weather tracking experience. Users enter location (city, zip) and see current weather conditions, including temperature, feels like, and potentially icons/descriptions.</p>
                  <button class="btn bttn" style="border-color: #67ffff;">Up Coming</button>
                  <!-- <a href="https://bloggify-z7sk.onrender.com/" target="_blank" class="btn bttn">Visit Website</a> -->
                  <!-- <a href="https://github.com/Iamhemanth001/Bloggify" target="_blank" class="btn bttn">Visit Github</a> -->
                </div>
            </div>

          </div>

        <hr id="services">

        
        <div class="heading" >
          <span>Services Provided</span>
          <h1>My Services</h1>
        </div>
        
        <div class="container container3">

          <div class="card project-box">
            <img src="web.jpeg" class="card-img-top service-img" alt="Web Development Services Image">
            <div class="card-body">
              <h3 class="card-title" style="font-size: 1.5rem;">Future Development Services</h3>
              <p class="card-text">We are excited to announce that our future offerings will cover full-stack development, custom web solutions, responsive design, e-commerce development, and more.Our services will be tailored to meet the diverse needs of businesses and individuals.</p>
              <p class="card-text">Stay tuned for updates on our progress and the launch of these services.</p>
              <button class="btn bttn">Coming Soon</button>
            </div>
          </div>
          
          <div class="card project-box">
            <img src="data.png" class="card-img-top service-img" alt="...">
            <div class="card-body">
              <h6 class="card-title" style="font-size: 1.5rem;">Future Database Services</h6>
              <p class="card-text">We are excited to announce that our services will include database design, optimization, data migration, and management. Whether you need a robust database solution for your web applications, data-driven insights, or efficient data storage and retrieval systems.</p>
              <p class="card-text">Stay tuned for updates on our progress and the launch of these services.</p>
              <button class="btn bttn">Coming Soon</button>
            </div>
          </div>
          
          <div class="card project-box">
            <img src="ai_ml.png" class="card-img-top service-img" alt="...">
            <div class="card-body">
              <h6 class="card-title" style="font-size: 1.5rem;">Future AI and ML Services</h6>
              <p class="card-text">We are thrilled to announce that our upcoming services will encompass Artificial Intelligence and Machine Learning solutions. Our offerings will include AI model development, machine learning algorithms implementation, solutions, data analysis, and more.</p>
              <p class="card-text">Stay tuned for updates on our progress and the launch of these services.</p>
              <button class="btn bttn">Coming Soon</button>
            </div>
          </div>

        </div>
        
        <hr id="contact">

        <div class="heading" >
            <span>Any feedback</span>
            <h1>Contact Me</h1>
        </div>

        <div class="container" >
            <form action="/home/contact" method="POST">
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" name="name" class="form-control" id="name" aria-describedby="name">
                </div>

                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                  <label for="message" class="form-label">Message</label>
                  <textarea class="form-control" name="message" id="message" cols="30" rows="5" placeholder="Any feedback?"></textarea>
                </div>
                <button type="submit" class="btn bttn btn-primary" style="width: 12rem;display: block;margin: auto;border-color: #67ffff;">Send</button>
            </form>
        </div>

        <%- include("./partials/footer.ejs") %>
    <%- include("./partials/script.ejs") %>
    
</body>
</html>